<%@keys_from_user.each{|key|%>
  <div>
    <h2>
      Key:
      <%=key.name%>
    </h2>
    <h3>
      Counter:
      <%=key.count%>
    </h3>
    <%=button_to "Delete this key", key_path(key),:method => :delete %>
    <%=link_to "Use this Key",key_path(key)%>
  </div>
<%}%>
<%=link_to "Add New Key", new_key_path if @key_count<@max_keys || @max_keys==1000%>