<%if(current_user)%>
<%=button_to "Logout", destroy_user_session_path, data: { 'turbo-confirm': 'Are you sure?' }, :method => :delete %>
<%else%> 
<%=button_to "SignIn", new_user_session_path%>
<%end%>
<%@keys.each{|x|%>
<div>
<h2>
Key:
<%=x.name%>
</h2>
<h3>
Counter:
<%=x.count%>
</h3>
<%=button_to "Delete this key", key_path(x), data: { 'turbo-confirm': 'Are you sure?' }, :method => :delete %>
<%=link_to "Use this Key",key_path(x)%>
</div>
<%}%>

<%=link_to "Add New Key", new_key_path if @current<@choice || @choice==1000%>